<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href= "./assets/css/adminPage.css">
</head>
<body>
   <h2 class="admin">
      <%= username%> o'qituvchi
   </h2>
   <div class="home">
      <div class="site-bar">
         <ul class="site-bar__list">
            <li class="site-bar__item">
               <a href="#" class="site-bar-link">Guruhlar</a>
            </li>
            <li class="site-bar__item">
               <a href="#" class="site-bar-link">Talabalar</a>
            </li>
         </ul>
         <a href="/logout" class="btn-logOut">Log Out</a>
      </div>
      <div class="info">
         
            <div class="guruhlar">
               <h1>Guruhlar</h1>
               <% for(let i of group) {%>
               <h2>
                  <strong>Guruh nomi:</strong> <%= i.name %> 
                   
                </h2>
                <h2> <strong>Guruh kurs:</strong> <%= i.course %>
                </h2>
                <%}%>
            </div>
            <div class="talabalar">
               <h1>Talabalar</h1>
            <% for(let j of students) {%>
               <% for(let i of j) {%>
                  <h2> <strong>Talaba ism:</strong> <%= i.username %> </h2>
                  <h2>
                    <strong>Guruh nomi:</strong> <%= i.group %> 
                     
                  </h2>
                  
                  
                  <%}%>
               
               
               <%}%>
            </div>

      </div>
   </body>
   </html>